/* google font roboto add  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header section styles */
.header {
    background-color: #161616;
    height: 646px;
    width: 1321px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
    padding-left: 0px;

}

.header-text {
    margin-left: 90px;

}

.header-text h1 {
    font-size: 70px;
    font-weight: bold;
}

.header-text p {
    font-style: 16px;
    margin-bottom: 60px;
}

.header-text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;
}

.fa-right-long {
    margin-left: 10px;
}

.header-img img {
    width: 100%;
    height: 645px;
    position: relative;
    bottom: 0;
    padding-bottom: 30px;
    margin-right: 20px;
}

/* Navigation and blogs section styles */
.middle-section {
    width: 1321px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    column-gap: 20px;
}

.navigation {
    background-color: #161616;
    width: 252px;
    height: 252px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    border-radius: 10px;
    margin-left: 0px;
    align-items: center;

}

.navigation a {
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
}



#blog-nav,
#upcomig-match {
    background-color: red;
    color: white;
}

.article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid lightgray;
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    padding-bottom: 30px;

}


.blog a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
}

.blog h2 {
    font-size: 18px;
    font-weight: 800;
    margin: 20px 10px;
}

.icons span {
    font-size: 16px;
    margin-right: 80px;
    margin-left: 10px;
    color: gray;
}

.button {
    display: none;
    background-color: red;
    color: black;
    padding: 5px 15px;
    height: 30px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;

}

.button button {
    color: red;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}

/* Upcoming Section Styles  */
.match {
    height: 182px;
    width: 252px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}

.flag {
    display: flex;
    column-gap: 20px;

}

.match-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footers Styles */
.footer {
    height: 444px;
    width: 100%;
    margin-top: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer h2 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.footer hr {
    color: gray;
    width: 100%;
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: gray;
    margin-right: 50px;
    font-size: 16px;
}

.footer-icons {

    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.footer-icons i {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: white;

}

/* media query for mobile device*/

@media screen and (max-width: 576px) {
    .header {

        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 520px;

        margin: 0%;
        border-radius: 10px;
        padding: 0px;

    }

    .header-text h1 {
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .header-text p {
        font-size: 14px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-text a {
        font-size: 1em;
        padding: 10px;
        margin-top: -30px;
    }

    .header-img img {
        height: 245px;
        width: 75%;
        position: relative;
        left: 60px;
        margin-top: 50px;
    }

    /* middle section  */
    .middle-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0px;
        padding-top: 30px;

    }

    .navigation {
        margin-bottom: 30px;
        width: 100%;
        padding: 0px;
        background-color: white;

    }

    .navigation a {
        border: 1px solid black;
        width: 100%;

        text-align: center;
    }

    .article-section {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .blog {
        width: 100%;
        height: auto;
    }

    .blog img {
        width: 100%;
    }



    .button {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 93%;
        margin-top: 30px;
    }




    #hidden-blog {
        display: none;
    }

    .match {
        width: 82%;
    }

    .flag {
        justify-content: center;
    }

    .footer {
        height: auto;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    .footer-menu a {
        margin-top: 20px;
        text-align: center;
        margin-left: 30px;
    }

}

/* media query for tablet device */
@media only screen and (min-width:577px) and (max-width:991px) {

    .header {
        width: 100%;
        height: 375px;
    }

    .header-text h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .header-text p {
        font-style: 15px;
        margin-bottom: 60px;
    }

    .header-text a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        background-color: red;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .header-img img {
        height: 350px;
        width: 100%;
    }

    .middle-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0px;
        padding-top: 30px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        justify-content: space-around;
        height: auto;
    }

    .navigation a {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px 20px;
        font-weight: 600;


    }

    .article-section {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-items: center;
    }

    .button {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 93%;
        margin-top: 30px;
    }






    #hidden-blog {
        display: none;
    }


    .footer {

        width: 100%;
    }

    .footer-menu {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

/* media query for pc  */
@media only screen (min-with:992px) and (max-width:1400px) {
    .footer {
        width: 100%;
    }
}